@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url("../Imagenes/Fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Roboto Slab", serif;
  position: relative; }

#contenedor {
  display: flex;
  width: 100%;
  height: auto;
  margin: auto; }

/* MAIN */
.principal {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  min-height: calc(100vh - (6rem + 4rem)); }

.principal h1 {
  text-align: center;
  font-size: 3.7rem; }

.principal p {
  line-height: 2;
  font-size: 1.5rem; }

h2, h3 {
  font-size: 3rem;
  margin-top: 40px; }

main div img {
  width: 100px; }

.carousel-item {
  width: 100%;
  height: 400px; }

/* HEADER */
nav {
  background-image: url("../Imagenes/fonditoheader.jpg"); }

.navbar-brand {
  color: white; }

.navbar-brand:hover {
  color: #f3742b; }

  .navbar-toggler-icon {
    background-color: #f3742b;
  }

nav img {
  width: 45px; }

nav div a {
  color: white;
  margin-left: 5rem; }

nav i {
  padding: 2px; }

a {
  padding: 0px;
  text-decoration: none;
  color: white; }

/* HEADER  PAGINAS */
.nav-link {
  display: flex;
  justify-content: right;
  list-style: none;
  color: white; }

.nav-link:hover {
  color: #f3742b; }

/* PRODUCTOS */
.productos {
  transform: perspective(3000px) rotateY(5deg);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: transform .5s ease 0s; }

.productos:hover {
  transform: perspective(1500px) rotateY(15deg); }

#productos {
  margin-top: 50px;
  margin-bottom: 50px; 
}

.card {
  background-color: rgba(0, 128, 0, 0); }

/* BOTÓN ATRÁS */
.atras {
  min-width: 100px;
  color: #f3742b;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.377), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.753);
  background: #ac5b0f;
  margin-bottom: 20px;
 }

.atras:hover:after {
  width: 100%;
  left: 0; }

.atras:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px #ffa500, 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #502803;
  right: 0; }

.atras:active {
  top: 2px; }

.atras a:hover {
  color: #f3742b; }

  /* PREGUNTAS FRECUENTES */
  .fondo {
    width: auto;
  }


.accordion-item {
border: none;

}
  .accordion-button {
    background-color: #f3742b;
    justify-content:center;
  }
.accordion-button:not(.collapsed) {
color: rgb(0, 0, 0);
}


/* PAGINA CONTACTO */
form {
  width: 350px;
  margin: auto;
  background-color: rgba(250, 123, 3, 0.1);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px; }

form h2 {
  margin-bottom: 20px; }

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100px; }

/* SECCION WSP */
#boton {
  background-color: #c0640f;
  transition: .5s; }

#boton:hover {
  cursor: pointer;
  border: 1px solid white; }
  
  .wsp{
background-color: rgba(0, 128, 0, 0.356);
padding: 0%;
 }

#wsp:hover {
  color: green; }

/* FOOTER */
footer {
  background-image: url(../Imagenes/fonditoheader.jpg);
  width: 100%;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center; }

footer a {
  padding: 10px;
  color: white; }

footer a:hover {
  color: #f3742b; }
